@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: orange;
}

.home-page-main {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0.25rem;
}
.rating {
  padding: 0.25rem;
}

.webpage-header {
  padding: 1rem;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.webpage-header-title {
  font-size: 40px;
}

.randomTVimage {
  width: 40rem;
}

.tv-item {
  width: 15rem;
}

.tv-item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv-item-info {
  display: flex;
}

.tv-show {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
}
.item {
  padding: 2rem;
}

.cast-info,
.crew-info {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  padding: 0rem;
}
.crew-info {
  align-items: flex-start;
  margin: 0rem 2rem;
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
}

.crew-title {
  align-self: center;
}

.cast-info {
  align-items: center;
}

.show-information {
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid grey;
  padding-bottom: 1rem;
}

.cast-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.cast {
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 10rem;
}

.crew {
  line-height: 1.5;
}

.cc-pic {
  height: 15rem;
  border: 2px solid black;
}

.character-name {
  margin: 0.5rem 0rem;
}
